/* Name: Nolan Dunham c0907869
 * Date: September 27th 2024
 * C4Tutorial/css/Styles*/

/*CSS Reset*/

body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rule for body and image*/
#contact{
    background-color: #e3eaf8
}

img {
    max-width: 100%;
    display: block;
}

/*Style rule for header content*/
 h1 {
  text-align: center;
  font-size: 3em;
  font-family: Georgia, Times, serif;
  padding: 3%;
  color: #101a2d;
}

/*Style rules for navigation area*/
nav {
    background-color: #1d396d;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #e3eaf8;
    top: 0.5em;
    bottom: 0.5em;
    left: 2em;
    right: 2em;
    text-decoration: none;
}

/*Style rules for main content*/
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
    font-size: 2em;
}

id selector image {
    width: 45%;
    float: left;
    padding: 1%;
}

id selector group {
    width: 45%;
    float: right;
}

external {
    color: #1d396d;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/*Style rules for footer content*/
footer selector {
    text-align: center;
    font-size: 0.85em;
    background-color: #1d396d;
    color: #e3eaf8;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-left: 0%;
}

footer a {
    color: #e3eaf8;
    text-decoration: none;
}






























